@model $safeprojectname$.Models.MType

@{
    ViewData["Title"] = "צור ערך חדש";
}

<h1>צור סוג פגישה חדש</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MeetingType" class="control-label"></label>
                <input asp-for="MeetingType" class="form-control" />
                <span asp-validation-for="MeetingType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="שמור" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">חזור לרשימה</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
